.App {
  /* background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190617/ourmid/pngtree-atmospheric-textured-film-and-television-company-propaganda-background-image_127872.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0; */
}
.warpper {

  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.search_box {
  background: rgb(241, 221, 221);
  position: relative;
  border-radius: 50px;
  margin-bottom: 30px;
}

.search_box .input_search{
  outline: none;
  border:0;
  background-color:gray;
  border-radius: 50px;
  padding: 15px 20px;
  width: 300px;
  height: 20px;
  color:#fff;
}

::placeholder{
  color:#fff
}
::-webkit-input-placeholder{
  color:#fff;
}
:-ms-input-placeholder{
  color: #fff;
}
.liste_movies {
  display: flex;
  flex-wrap: wrap;
}

.image {
  width: 250px;
  height: 300px;
  border-radius: 20px;
}
img:hover {
  box-shadow: 5px 5px 5px 5px rgba(231, 224, 225, 0.5);
}

.Movie {
  color: rgb(3, 3, 26);
  font-size: 18px;
  margin: 0px 2px;
}

.titre {
  font-family: "Sofia", sans-serif;
  color: aliceblue;
}
h1{
  font-family: "Sofia", sans-serif;
  color: aliceblue;
  align-content: center;
}
.form{
  
}